/* .footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
   */
   .footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    /* text-align: center; */
  }
  
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .col-md-4 {
    flex: 0 0 33.3333%;
    /* padding-right: 15px;
    padding-left: 15px; */
    margin-bottom: 30px;
  }
  
  .footer-title {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
  }
  
  .list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .list-unstyled li {
    margin-bottom: 10px;
  }
  
  .list-unstyled a {
    color: #999;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  
  .list-unstyled a:hover {
    color: #007bff;
  }
  
  .copyright {
    color: #999;
    font-size: 14px;
    text-align: center;
  }
  